.page-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav {
    flex: 0 0 auto;
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #f1f1f1;
    border-bottom: 1px #d6d6d6 solid;
}

.app-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.app-logo {
    display: block;
    height: 45px;
    width: auto;
}

.app-logo__title {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.toggle-users-btn,
.hide-users-btn,
.logout-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.toggle-users-btn svg,
.logout-btn svg {
    height: 35px;
    width: auto;
}

.toggle-users-btn svg path {
    fill: #6b6c6b;
}

.toggle-users-btn:hover svg path {
    fill: #ffcc00;
}

.logout-btn svg path {
    stroke: #6b6c6b;
}

.logout-btn:hover svg path {
    stroke: #ffcc00;
}

.hide-users-btn {
    display: block;
    margin-left: -10px;
    margin-top: 5px;
}

.hide-users-btn svg {
    height: 35px;
    width: auto;
}

.hide-users-btn svg path {
    stroke: #6b6c6b;
}

.hide-users-btn:hover svg path {
    stroke: #ffcc00;
}

.content-wrapper {
    width: 100%;
    height: calc(100% - 75px);
    display: flex;
    flex-direction: row;
}

.users-container {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    flex: 0 0 auto;
    padding: 25px 10px 10px 10px;
    background-color: #f6f6f6;
    transition: all 0.5s ease;
}

.users-container.active {
    left: 0;
}

.users-container .section-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;
}

.users-container .section-heading__title {
    font-size: 1.75rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.users-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.user .active-indicator > img {
    display: block;
    height: 25px;
    width: auto;
}

.user .user__name {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 14px 0;
}

.chat-container {
    flex: 1 1 auto;
}

@media screen and (min-width: 576px) {
    .nav {
        height: 85px;
        padding: 0 20px;
    }

    .app-logo {
        height: 50px;
    }

    .app-logo__title {
        font-size: 1.6rem;
    }

    .toggle-users-btn svg,
    .logout-btn svg {
        height: 40px;
    }

    .content-wrapper {
        height: calc(100% - 85px);
    }
}

@media screen and (min-width: 768px) {
    .nav {
        height: 95px;
        padding: 0 25px;
    }

    .app-logo {
        height: 55px;
    }

    .app-logo__title {
        font-size: 1.7rem;
    }

    .users-container {
        position: static;
        width: 250px;
        height: auto;
        padding: 25px;
        border-right: 1px #e7e7e7 solid;
    }

    .hide-users-btn {
        display: none;
    }

    .toggle-users-btn {
        visibility: hidden;
    }

    .users-list {
        padding-left: 0;
    }

    .user .active-indicator > img {
        height: 22px;
    }

    .user .user__name {
        font-size: 1.05rem;
        margin: 10px 0;
    }

    .content-wrapper {
        height: calc(100% - 95px);
    }
}
