.page-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav {
    flex: 0 0 auto;
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #f1f1f1;
    border-bottom: 1px #d6d6d6 solid;
}

.app-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.app-logo {
    display: block;
    height: 45px;
    width: auto;
}

.app-logo__title {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.toggle-users-btn,
.logout-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.toggle-users-btn svg,
.logout-btn svg {
    height: 35px;
    width: auto;
}

.toggle-users-btn svg path {
    fill: #6b6c6b;
}

.toggle-users-btn:hover svg path {
    fill: #ffcc00;
}

.logout-btn svg path {
    stroke: #6b6c6b;
}

.logout-btn:hover svg path {
    stroke: #ffcc00;
}

.content-wrapper {
    width: 100%;
    height: calc(100% - 75px);
    display: flex;
    flex-direction: row;
}

.users-container {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    flex: 0 0 auto;
}

.chat-container {
    flex: 1 1 auto;
}

@media screen and (min-width: 576px) {
    .nav {
        height: 85px;
        padding: 0 20px;
    }

    .app-logo {
        height: 50px;
    }

    .app-logo__title {
        font-size: 1.6rem;
    }

    .toggle-users-btn svg,
    .logout-btn svg {
        height: 40px;
    }

    .content-wrapper {
        height: calc(100% - 85px);
    }
}

@media screen and (min-width: 768px) {
    .nav {
        height: 95px;
        padding: 0 25px;
    }

    .app-logo {
        height: 55px;
    }

    .app-logo__title {
        font-size: 1.7rem;
    }

    .users-container {
        position: static;
        width: 250px;
        height: auto;
    }

    .toggle-users-btn {
        visibility: hidden;
    }

    .content-wrapper {
        height: calc(100% - 95px);
    }
}
